<div class="container">
  <div class="row">
    <div class="col-12 mb-2">
      <button type="button" *ngIf="!showPagination" class="btn btn-secondary people-btn"
        (click)="backtoAllPeople()">Back</button>
      <button type="button" class="btn btn-secondary people-btn ml-2" [ngClass]="{ 'ml-2': !showPagination}"
        routerLink="/comic-stores">Find Comic
        stores</button>
    </div>
  </div>
  <div class="row" *ngIf="peopleResponse && peopleResponse.Result.length > 0">
    <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let people of peopleResponse.Result">
      <app-card [isReadOnlyCard]="false" [people]="people"></app-card>    
    </div>
  </div>
  <div class="row" [hidden]="!showPagination">
    <app-paginator [total]="peopleResponse.TotalRecords" [currentPage]="paginationRequest.PageNo"
      [countsPerPage]="peopleResponse.Result.length" (currentPageChange)="getPeople($event)">
    </app-paginator>
  </div>
</div>