#map {
  height: 500px;
}

@media (max-width: 767px) {
  #map {
    min-height: 300px;
    height: auto;
  }
}

.list-group {
  max-height: 500px;
  overflow-x: scroll;
}

.list-group-item {
  background-color: #2e3033 !important;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: #313335cf !important;
  }
}
