<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="text-white"> Comic stores</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" *ngIf="!showPagination" class="btn btn-secondary people-btn mb-2" routerLink="/">Back</button>
    </div>
  </div>
  <div class="row" *ngIf="isAllowedCurrentLocation">
    <div class="col-8">
      <div id="map" class="w-100" #map></div>
    </div>
    <div class="col-4" *ngIf="stores && stores.length">
      <div class="list-group">
        <a href="javascript:void(0)"
          class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start"
          *ngFor="let store of stores">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{store.Name}}</h5>
          </div>
          <p class="mb-1">{{store.Address}}
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="stores && stores.length">

  </div>
  <div class="row" *ngIf="!isAllowedCurrentLocation">
    <div class="col-12 text-center">
      <div class="alert alert-danger">
        Please allow to access current location to see stores.
      </div>
    </div>
  </div>
</div>