<div class="container">
  <div class="row">
    <div class="col-12 mb-2">
      <button type="button" class="btn btn-secondary people-btn" routerLink="/">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let p of people">
      <app-card [isReadOnlyCard]="true" [people]="p"></app-card>
    </div>
    <div *ngIf="!people || (people && !people.length)" class="col-12">
      <div class="text-center">
        There are no favourite people to display
      </div>
    </div>
  </div>
</div>