<div class="card card-background bg-dark mb-3" (click)="navigateToDetails()">
  <div class="card-header">{{people.name}}<span title="Click here to mark as favourite" class="marker-icon"
      (click)="$event.stopPropagation();setFavourite()"><a href="javascript:void(0)"><i class="fa"
          [ngClass]="{'fa-star': isFavourite,'fa-star-o': !isFavourite}" aria-hidden="true"></i></a></span></div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2">{{people.gender}}</h6>
    <div class="col-12 p-0">
      <span>
        <span class="card-text">Starships :</span>
        <ng-container *ngIf="starships && starships.length; then starshipContent else loadingContent"></ng-container>
        <ng-template #starshipContent>
          <span *ngFor="let s of starships">
            &nbsp; <a href="javascript:void(0)" class="card-link"
              (click)="$event.stopPropagation();filterStarship(s)">{{s.name}}</a>
          </span>
        </ng-template>
        <ng-template #loadingContent>
          &nbsp;<span class="spinner-grow text-success spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
        </ng-template>
      </span>
    </div>
    <div class="col-12 p-0">
      <span>
        <span class="card-text">Species :</span>
        <ng-container *ngIf="species && species.length; then speciesContent else loadingContent"></ng-container>
        <ng-template #speciesContent>
          <span *ngFor="let s of species">
            &nbsp; <a href="javascript:void(0)" class="card-link"
              (click)="$event.stopPropagation();filterSpecies(s)">{{s.name}}</a>
          </span>
        </ng-template>
        <ng-template #loadingContent>
          &nbsp;<span class="spinner-grow text-success spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
        </ng-template>
      </span>
    </div>
    <div class="col-12 p-0">
      <span>
        <span class="card-text">Home World :</span>
        <ng-container *ngIf="planet ; then planetContent else loadingContent"></ng-container>
        <ng-template #planetContent>
          <span>
            &nbsp; <a href="javascript:void(0)" class="card-link"
              (click)="$event.stopPropagation();filterHomeworld(planet)">{{planet.name}}</a>
          </span>
        </ng-template>
        <ng-template #loadingContent>
          &nbsp;<span class="spinner-grow text-success spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
        </ng-template>
      </span>
    </div>
  </div>
</div>