<div class="container mt-5">
  <button type="button" class="btn btn-secondary people-btn mb-2" (click)="goToLandingPage()">Back</button>
  <div class="card card-background bg-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">{{people.name}}</h5>
      <h6 class="card-subtitle mb-2">{{people.gender}}</h6>
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Birth Year
              <span class="badge badge-primary badge-pill">{{people.birth_year}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Hair Color
              <span class="badge badge-primary badge-pill">{{people.hair_color}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Skin Color
              <span class="badge badge-primary badge-pill">{{people.skin_color}}</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Eye Color
              <span class="badge badge-primary badge-pill">{{people.eye_color}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Height
              <span class="badge badge-primary badge-pill">{{people.height}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Mass
              <span class="badge badge-primary badge-pill">{{people.mass}}</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Species
              <span class="badge badge-primary badge-pill">{{people.birth_year}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Hair Color
              <span class="badge badge-primary badge-pill">{{people.hair_color}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Skin Color
              <span class="badge badge-primary badge-pill">{{people.skin_color}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="card bg-dark mb-3">
            <div class="card-body">
              <h4 class="card-subtitle">Species</h4>
              <p class="card-text">
                <span class="card-link" *ngFor="let s of people.speciesNames">{{s.name}}</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark mb-3">
            <div class="card-body">
              <h4 class="card-subtitle">Home World</h4>
              <p class="card-text"><span class="card-link">{{people.home}}</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark mb-3">
            <div class="card-body">
              <h4 class="card-subtitle">StarShips</h4>
              <p class="card-text"><span class="card-link" *ngFor="let s of people.ships">{{s.name}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="people && people.filmNames; then carouselContent else loadingContent">
  </div>
  <ng-template #carouselContent>
    <div class="carousel-container">
      <app-carousel [label]="'Films'" [content]="people.filmNames"></app-carousel>
    </div>
  </ng-template>
  <ng-template #loadingContent>
    &nbsp;<span class="spinner-grow text-success spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
  </ng-template>
</div>