<div class="container">
  <div class="row" *ngIf="!showPagination">
    <div class="col-12 mb-2">
      <button type="button" class="btn btn-secondary people-btn" routerLink="/">Back</button>
    </div>
  </div>
  <ng-container *ngIf="peopleResponse && peopleResponse.Result && peopleResponse.Result.length">
    <div class="row">
      <div class="col-12">
        <h4 class="text-white">People</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let people of peopleResponse.Result">
        <app-card [isReadOnlyCard]="false" [people]="people"></app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-paginator [total]="peopleResponse.TotalRecords" [currentPage]="peoplePaginationRequest.PageNo"
          [countsPerPage]="peopleResponse.Result.length" (currentPageChange)="searchPeople($event)">
        </app-paginator>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="filmsResponse && filmsResponse.Result && filmsResponse.Result.length">
    <div class="row">
      <div class="col-12">
        <h4 class="text-white">Films</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let film of filmsResponse.Result">
        <div class="card card-background bg-dark mb-3">
          <div class="card-header"> {{film.title}}
          </div>
          <div class="card-body">
            <h6 class="card-text mb-2"><strong>Description :</strong> {{film.description}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-paginator [total]="filmsResponse.TotalRecords" [currentPage]="filmsPaginationRequest.PageNo"
          [countsPerPage]="filmsResponse.Result.length" (currentPageChange)="searchFilms($event)">
        </app-paginator>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="planetsResponse && planetsResponse.Result && planetsResponse.Result.length">
    <div class="row">
      <div class="col-12">
        <h4 class="text-white">Planets</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let planet of planetsResponse.Result">
        <div class="card card-background bg-dark mb-3">
          <div class="card-header">{{planet.name}}
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2"><strong>Climate :</strong> {{planet.climate}}</h6>
            <h6 class="card-text"> <strong>Population :</strong> {{planet.population}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-paginator [total]="planetsResponse.TotalRecords" [currentPage]="planetsPaginationRequest.PageNo"
          [countsPerPage]="planetsResponse.Result.length" (currentPageChange)="searchPlanets($event)">
        </app-paginator>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="spaceShipsResponse && spaceShipsResponse.Result && spaceShipsResponse.Result.length">
    <div class="row">
      <div class="col-12">
        <h4 class="text-white">Spaceships</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let spaceship of spaceShipsResponse.Result">
        <div class="card card-background bg-dark mb-3">
          <div class="card-header">{{spaceship.name}}
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2"><strong>Model :</strong> {{spaceship.model}}</h6>
            <h6 class="card-text"> <strong>Manufecturer :</strong> {{spaceship.manufacturer}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-paginator [total]="spaceShipsResponse.TotalRecords" [currentPage]="spaceShipsPaginationRequest.PageNo"
          [countsPerPage]="spaceShipsResponse.Result.length" (currentPageChange)="searchStarships($event)">
        </app-paginator>
      </div>
    </div>
  </ng-container>
</div>