.content-slider {
  &:hover {
    transform: translateZ(34px);
    transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 300ms ease;   
  }
  border-radius: 5px;
  border: 2px solid #888;
  background: #070707;
  transition: transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 300ms ease;
  transform: rotateY(5deg) translateZ(34px) scale(0.98);
  min-height: 150px;
  margin-top: 10px;
  color: #9a9a9a;
  font-size: 12px;
  .container {
    margin: 20px 0px;
    .label-title {
      width: 100%;
      font-size: 20px;
      text-align: center;
    }
  }
}
