<div class="overlay" [hidden]="!isLoading">
    <div class="d-flex justify-content-center spinner-wrapper">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>