<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container d-flex flex-column align-items-stretch">
        <div class="collapse navbar-collapse position-relative" id="navbarColor02">
            <form class="form-inline custom-search-bar col-12" (submit)="searchStarWar()">
                <input type="text" class="form-control mr-sm-2 w-80" id="search" [formControl]='search'
                    placeholder="Search People, films, planets, spaceships">             
                <button type="submit" class="btn btn-secondary">Search</button>
                <button type="button" class="btn btn-secondary ml-1" (click)="onFavouriteClick()"
                    title="Click to see favourite people"><i class="fa fa-star"></i></button>
            </form>
        </div>
    </div>
</nav>