/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #f39c12;
  &:hover {
    background-color: #100e17;
  }
}

.pagination {
  margin-top: 5px;
}

.page-item.disabled .page-link {
  color: #999999 !important;
  background-color: #f0f0f0;
  cursor: pointer;
}

.page-item.active .page-link {
  border-color: #fff !important;
  background-color: #32383e !important;
  color: #fff !important;
}

.page-link {
  color: #fff !important;
  background-color: #2e3033;
  &:hover {
    color: #f39c12 !important;
  }
}
/* Pagination */

.custom-carousel-container {
  position: relative;
  padding: 40px;
  .carousel-control-next,
  .carousel-control-prev {
    height: 30px;
    width: 30px;
    background: #17141d;
    border-radius: 50%;
    padding: 2px;
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;
  }
  .carousel-control-prev {
    left: -40px;
  }
  .carousel-control-next {
    right: -40px;
  }
  @media screen and (min-width: 768px) {
  }
}
.custom-search-bar {
  flex-flow: row;
  justify-content: space-between;
  input {
    width: 100% !important;
  }
}

.search-result-wrapper {
  padding: 20px;
  left: 0;
  .filter-box-text {
    color: #fff;
  }
}

.bg-dark {
  background-color: #17141d !important;
}

.btn {
  background-color: #2e3033;
  border: transparent;
}

app-landing-page,
app-favourite-people,
app-search-results,
app-person-details {
  .card-background {
    background-image: url("assets/star-wars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card {
    display: flex;
    height: 100%;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 300ms ease;
    transform: rotateY(5deg) translateZ(34px) scale(0.98);
    position: relative;
    left: 0px;
    color: #fff;
    .marker-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      color: #fff;
    }

    .card-link {
      color: #f39c12 !important;
      background: transparent;
    }

    .text-success {
      background-color: #f39c12 !important;
    }

    &:not(:first-child) {
      margin-left: -50px;
    }

    &:hover {
      transform: translateZ(34px);
      transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 300ms ease;

      ~ .card {
        position: relative;
        left: 50px;
        transform: translateZ(34px);
        transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1), opacity 300ms ease;
      }
    }
  }

  .title {
    color: white;
    font-weight: 300;    
  }    

  .card:hover {    
    transition: 0.4s ease-out;
  }  

  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
}
